* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./colors";
@import "../node_modules/foundation-sites/scss/foundation";


.header-top {
    background-color: map-get($grey, background);
    height: 50px;
    


    .wrapper {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

        .language-bottom {
            
            display: flex;
            align-items: center;

            ul {
                margin: 0px 0px 0px 15px;
                padding: 0;
            }

            ul li {
                list-style: none;
                display: inline;
                padding: 0px;
                margin: 0px;


                a {
                    color: map-get($grey, text);
                    padding: 5px 7px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    border-radius: 8px;
                }

                a:hover {
                    background-color: map-get($accent, default);
                    color: #fff;
                }
            }
        }

        .contact-information {
            margin-right: 15px;

            a {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: map-get($grey, text);
                padding: 15px 0px;
            }
        }
    }
}
.header-bottom {
    height: 57px;
    background-color: #fff;
    border-bottom: 1px solid red;

    .wrapper {
        height: 57px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .logo {
            margin: 0px 0px 0px 15px;
            padding: 0;
            height: 100%;

            .logo-image {
                padding: 20px 0px;
            }
        }

        .burger-menu {
            padding: 0px;
            margin: 0px 15px 0px 0px;

            input {
                display: none;

                &:checked ~ .header-submenu {
                    display: block;
                }
            }


            label {
                margin: 0px;


                .hamburger {
                   @include hamburger;
                    

                    &:hover {
                        box-shadow: 0px 0px 0px 8px map-get($grey, separator);
                        border-radius: 4px;
                        background-color: map-get($grey, separator);
                    }
                }
        }

            .header-submenu {
                width: 100%;
                height: 100vh;
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: map-get($main, default);
                opacity: 0.7;



                ul {
                    margin-left: 0rem;
                    margin-bottom: 0rem;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    background-color: #fff;
                    border-radius: 12px 12px 0 0;
                    padding: 64px 12px 12px;
                    position: absolute;
                    left: 8px;
                    right: 8px;
                    bottom: 0px;

                    li {
                        list-style: none;
                        display: inline;
                        padding: 0px;
                        margin: 0px;
                    }

                    li {
                        a {
                            margin: 0px;
                            padding: 0px;
                            display: block;
                            background-color: map-get($grey, background);
                            color: map-get($active, default);
                            padding: 7px 12px;
                            font-size: 24px;
                            font-weight: 700;
                            border-radius: 12px;
                            text-align: center;

                            &:hover {
                                background-color: map-get($grey, separator);
                                color: map-get($active, default);
                            }

                            &:active {
                                color: map-get($accent, default);
                            }
                        }
                    }
                }
            }
        }
    }
}


