@import "./colors";
@import "../node_modules/foundation-sites/scss/foundation";
@import "./typography";

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-for-large {
    @media only screen and (min-width: 1280px) and (max-width: 1920px) {
        height: 146px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin: 0px 0px 0px 60px;

            .logo-image {
                padding: 20px 0px;

                img {
                    width: 318px;
                }
            }
        }

        .header-information {
            margin: 0px 60px 0px 0px;

            .content-placement {
                display: flex;
                flex-direction: column;


                .wrapper {
                    display: flex;
                    flex-direction: row;
                    height: 25px;
                    align-content: center;

                    .language-bottom {
                        display: flex;
                        align-items: center;

                        ul {
                            margin: 0px;
                            padding: 0px;
                        }

                        ul li {
                            list-style: none;
                            display: inline;
                            padding: 0px;
                            margin: 0px;


                            a {
                                color: map-get($grey, text);
                                padding: 5px 7px;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 15px;
                                border-radius: 8px;
                            }

                            a:hover {
                                background-color: map-get($accent, default);
                                color: #fff;
                            }
                        }
                    }

                    .text-information {
                        

                        .link {
                            padding: 0px 0px 0px 0px;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: map-get($grey, text);
                        }
                    }

                    .text-information::before {
                        content: '';
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: map-get($grey, separator);
                        margin: 1px 8px 1.5px 6px;
                    }

                    .contact-information {
                        margin: 0px;
                        height: 25px;
                        a {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: map-get($grey, text);
                        }
                    }

                    .contact-information::before {
                        content: '';
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: map-get($grey, separator);
                        margin: 1px 6px 1.5px 8px;
                    }

                    .fb-logo {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .fb-logo::before {
                        content: '';
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: map-get($grey, separator);
                        margin: 1px 6px 1.5px 8px;
                    }
                }

                .navigation-menu {
                    margin: 10px 0px 0px 80px;

                    ul {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 15px;

                        li {
                            list-style: none;

                            a {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 20px;
                                color: map-get($active, default);
                                position: relative;
                            }

                            a::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                transform: scaleX(0);
                                height: 2px;
                                bottom: 0;
                                left: 0;
                                background-color: map-get($active, default);
                                order: 1;
                                align-self: stretch;
                                flex-grow: 0;
                                transform-origin: bottom right;
                                transition: transform 0.25s ease-out;
                            }

                            a:hover::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }

                            a:active::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                                background-color: map-get($accent, default);
                            }

                            a:active {
                                color: map-get($accent, default);
                            }
                        }
                    }
                }
            }
        }
    }
}


.header-top {
    background-color: map-get($grey, background);
    height: 50px;

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        height: 220px;
        background-color: #fff;
    }

    .wrapper {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media only screen and (min-width: 768px) and (max-width: 1279px) {
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: inherit;
            align-items: end;
        }


        .language-bottom {
            display: flex;
            align-items: center;

            ul {
                margin: 0px 0px 0px 15px;
                padding: 0;

                @media only screen and (min-width: 768px) and (max-width: 1279px) {
                    margin: 0px 0px 0px 53px;
                }
            }

            ul li {
                list-style: none;
                display: inline;
                padding: 0px;
                margin: 0px;


                a {
                    color: map-get($grey, text);
                    padding: 5px 7px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    border-radius: 8px;
                }

                a:hover {
                    background-color: map-get($accent, default);
                    color: #fff;
                }
            }
        }

        .text-information {

            .link {
                padding: 0px 0px 0px 0px;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                color: map-get($grey, text);
            }
        }

        .text-information::before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: map-get($grey, separator);
            margin: 1px 8px 1.5px 6px;
        }

        .contact-information {
            margin-right: 15px;

            @media only screen and (min-width: 768px) and (max-width: 1279px) {
                margin: 0px;
            }


            a {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: map-get($grey, text);
                padding: 15px 0px;

                @media only screen and (min-width: 768px) and (max-width: 1279px) {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 20px;
                    color: map-get($grey, text);
                    padding: 10px 0px 0px 0px;
                }
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1279px) {
            .contact-information::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: map-get($grey, separator);
                margin: 1px 6px 1.5px 8px;
            }
        }

        .fb-logo {
            img {
                width: 20px;
                height: 20px;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1279px) {
            .fb-logo::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: map-get($grey, separator);
                margin: 1px 6px 1.5px 8px;
            }
        }
    }
}

.header-bottom {
    height: 57px;
    background-color: #fff;

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        position: absolute;
        top: 65px;
        height: 155px;
        width: 100%;
    }

    .wrapper {
        height: 57px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .logo {
            margin: 0px 0px 0px 15px;
            padding: 0;
            height: 100%;


            @media only screen and (min-width: 768px) and (max-width: 1279px) {
                margin: 0px 0px 0px 60px;
            }


            .logo-image {
                padding: 20px 0px;

                img {
                    width: 178px;

                    @media only screen and (min-width: 768px) and (max-width: 1279px) {
                        width: 248px;
                    }

                }
            }
        }


        .navigation-menu {
            position: absolute;
            top: 85px;
            margin-left: 60px;

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 15px;

                li {
                    list-style: none;

                    a {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: map-get($active, default);
                        position: relative;
                    }

                    a::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: map-get($active, default);
                        order: 1;
                        align-self: stretch;
                        flex-grow: 0;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }

                    a:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }

                    a:active::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                        background-color: map-get($accent, default);
                    }

                    a:active {
                        color: map-get($accent, default);
                    }
                }
            }
        }



        .burger-menu {
            padding: 0px;
            margin: 0px 15px 0px 0px;

            input {
                display: none;

                &:checked ~ .header-submenu {
                    display: block;
                }
            }


            label {
                margin: 0px;


                .hamburger {
                    @include hamburger;


                    &:hover {
                        box-shadow: 0px 0px 0px 8px map-get($grey, separator);
                        border-radius: 4px;
                        background-color: map-get($grey, separator);
                    }
                }
            }

            .header-submenu {
                width: 100%;
                height: 100vh;
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: map-get($main, default);
                opacity: 0.7;
                z-index: 3;



                ul {
                    margin-left: 0rem;
                    margin-bottom: 0rem;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    background-color: #fff;
                    border-radius: 12px 12px 0 0;
                    padding: 64px 12px 12px;
                    position: absolute;
                    left: 8px;
                    right: 8px;
                    bottom: 0px;

                    li {
                        list-style: none;
                        display: inline;
                        padding: 0px;
                        margin: 0px;
                    }

                    li {
                        a {
                            margin: 0px;
                            padding: 0px;
                            display: block;
                            background-color: map-get($grey, background);
                            color: map-get($active, default);
                            padding: 7px 12px;
                            font-size: 24px;
                            font-weight: 700;
                            border-radius: 12px;
                            text-align: center;

                            &:hover {
                                background-color: map-get($grey, separator);
                                color: map-get($accent, default);
                            }

                            &:active {
                                color: map-get($accent, default);
                            }
                        }
                    }
                }
            }
        }
    }
}


.main-part {
    width: 100%;
    height: 500px;
}


.footer {
    width: 100%;
    height: 141px;
    background-color: map-get($grey, background);
    position: relative;

    .horizontal-line-separator {
        position: absolute;
        top: 5px;
        left: 60px;
        right: 60px;
        z-index: 3;

        img {
            z-index: 3;
            width: 100%;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        height: 191px;
    }

    .placement {
        position: absolute;
        top: 30px;
        left: 60px;
        right: 60px;
        bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (min-width: 768px) and (max-width: 1279px) {
            position: absolute;
            left: 50%;
            right: auto;
            transform: translate(-50%, 0px);
            width: max-content;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: normal;
        }

        .adres {
            height: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .main-text {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                height: min-content;
            }

            a {
                color: map-get($active, regular);
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                cursor: pointer;
            }
        }

        .note {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: map-get($grey, text);

            @media only screen and (min-width: 768px) and (max-width: 1279px) {
                order: 1;
                margin: 0 auto;
            }
        }


        .main-information {
            flex: 1 0 100%;
            align-items: end;
            margin-top: 30px;

            @media only screen and (min-width: 768px) and (max-width: 1279px) {
                flex: none;
                margin-top: 21px;
                margin-bottom: 30px;
            }





            .container {
                height: 38px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;


                .fb-logo {
                    height: 38px;
                    width: 38px;
                    display: inline-block;
                    background-image: url("../images/fb-logo-blue/Vector.svg");
                }

                .fb-logo:hover {
                    height: 38px;
                    width: 38px;
                    display: inline-block;
                    background-image: url("../images/fb-logo-red/Vector.svg");
                }

                .contact-information {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: map-get($main, alt);
                }

                .email-information {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: map-get($active, default);
                }

                .email-information:hover {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: map-get($accent, default);
                    cursor: pointer;
                }
            }
        }
    }
}
.mobile-footer {
    height: 276px;
    background-color: map-get($grey, background);
    width: 100%;
    position: relative;

    .placement {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        display: flex;
        flex-direction: column;

        .main-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            height: min-content;
            margin: 0 auto;
        }

        a {
            color: map-get($active, regular);
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            margin: 10px auto 0 auto;
            cursor: pointer;
        }

        .fb-logo {
            height: 38px;
            width: 38px;
            margin: 21px auto 0 auto;
            display: inline-block;
            background-image: url("../images/fb-logo-blue/Vector.svg");
        }

        .fb-logo:hover {
            height: 38px;
            width: 38px;
            margin: 21px auto 0 auto;
            display: inline-block;
            background-image: url("../images/fb-logo-red/Vector.svg");
        }


        .contact-information {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: map-get($main, alt);
            margin: 10px auto 0 auto;
        }

        .email-information {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: map-get($active, default);
            margin: 10px auto 0 auto;
        }

        .email-information:hover {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: map-get($accent, default);
            cursor: pointer;
        }

        .note {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: map-get($grey, text);
            margin: 30px auto 0 auto;
        }
    }
}





