@import "colors";

ul li::marker {
    content: '';
    all:unset;
    font-weight: bold;
    width: 6px;
    height: 6px;
    display: inline-block;
    color: map-get($accent, default);
    border-radius: 50%;
    margin-left: -1em;
}
ol {
    list-style: none;
    counter-reset: item;
}
ol li::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: map-get($accent, default);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: bold;
}

a {
    color: map-get($active, regular);  
}
.link:hover {
    color: map-get($accent, default);
}

